h1{
	color: red;
	background-color: black;
	text-align: center;
}
h2{ 
    color: red;
    background-color: black;
	text-align: center;
 }
 
 img{
 	width: 100%;
 	display: block;
 	margin-left: auto;
  margin-right: auto;
 }
 p{font-size: 1.2rem;
   color: #9e2219;}

 h3{ 
 color: red;
 background-color: black;
 text-align: center; }

 h4{
 	color: red;
 	background-color: black;
 	text-align: center;
 }

 img{ border: 15px solid #2e021c; }

 .aa{ border: 15px solid #7d2aad; }

.container{background-color:#fcc7f6;}


